{{> header}}

{{> navbar}}
  
   <div class="container">
	  <div class="row">
	    <div class=" col-md-10 col-md-offset-1">
          <h1>{{title}}</h1>
          {{#if errors}}
           <ul>
            {{#each errors}}
               <li class="alert alert-danger">{{msg}}</li>
            {{/each}}
            </ul>
          {{/if}}
			  <form  method="post" action="/articles/add">
			  <div class="form-group">
			    <label  for="title">Title:</label>
			      <input type="text" class="form-control" name="title" placeholder="Enter title">
			  </div>
			  <div class="form-group">
			    <label for="sub_title">Sub Title:</label>
			      <input type="text" class="form-control" name="subtitle" placeholder="Enter Sub Title">
			  </div>
			  <div class="form-group">
			    <label  for="category">Category:</label> 
			      <select class="form-control" name="category">
			       {{#each categories}}
			      	  <option value="{{_id}}">{{title}}</option>
			       {{/each}}
			      </select>
			  </div>
			   <div class="form-group">
			    <label  for="author">Author:</label>
			      <input type="text" class="form-control" name="author" placeholder="Enter Author Name">
			  </div>
			  <div class="form-group">
			    <label  for="body">Body:</label> 
			      <textarea class="form-control" name="body"></textarea>
			  </div>
			  <div class="form-group"> 
			    <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" class="btn btn-primary" value="SAVE">
			      <a class="btn btn-default" id="back" href="/manage/articles">BACK</a>
			    </div>
			  </div>
			</form>
	   </div>
	  </div>
 </div>

{{> footer}}