{{> header}}

{{> navbar}}
  
   <div class="container">
	  <div class="row">
	    <div class=" col-md-10 col-md-offset-1">
          <h1>{{title}}</h1>
			  <form  method="post" action="/categories/edit/{{category._id}}">
			  <div class="form-group">
			    <label  for="title">Title:</label>
			      <input type="text" class="form-control" id="title" placeholder="Enter title" name="category_title" value="{{category.title}}">
			  </div>
			  <div class="form-group">
			    <label  for="category_desc">Description:</label> 
			      <textarea class="form-control" name="category_desc" >{{category.description}}</textarea>
			  </div>
		
			  <div class="form-group"> 
			    <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" class="btn btn-primary" value="SAVE">
			      <a class="btn btn-default" id="back" href="/manage/categories">BACK</a>
			    </div>
			  </div>
			</form>
			
	   </div>
	  </div>
 </div>

{{> footer}}